<div class="col-md-5 col-sm-5">
    <div class="product-content">
        <div class="rating">
            <span class="star active"></span>
            <span class="star active"></span>
            <span class="star active"></span>
            <span class="star half"></span>
            <span class="star"></span>
            <div class="product-review">
                <ul>
                    <li>03 Review</li>
                    <li> | <a href="#"> Add Your Review </a></li>
                </ul>
            </div>
        </div>
        <div class="product-name">
            <a href="#">{{ item }}</a>
        </div>
        <div class="product-price">
            {% if item.old_price != item.price %}
                <h4 class="pink-btn-small price-line"> {{ item.old_price }} </h4>
            {% endif %}
            <h4 class="blue-btn-small"> {{ item.price }} </h4>
        </div>
        <div class="product-availability">
            <ul class="stock-detail">
                <li>Available:
                    {% if item.in_stock %}
                        <strong class="green-color">
                            <i class="fa fa-check-circle"></i>
                            InStock
                        </strong> |
                    {% else %}
                        <strong class="pink-color">
                            <i class="fa fa-close"></i>
                            Not Available
                        </strong> |
                    {% endif %}
                </li>
                <li>Product Id:<strong> #{{ item.sku }}</strong></li>
            </ul>
            <hr class="fullwidth-divider">
        </div>
        <div class="product-size">
            <form class="product-form">
                <div class="row">
                    <div class="form-group selectpicker-wrapper">
                        <label>SIZE</label>
                        <select title="Looking to Buy" data-toggle="tooltip" data-width="100%" data-live-search="true"
                                class="selectpicker input-price bs-select-hidden">
                            <option class="bs-title-option" value="">2 - 4 Years</option>
                            <option>4 - 6 Years</option>
                            <option>6 - 8 Years</option>
                            <option>8 - 10 Years</option>
                        </select>
                    </div>
                    <div class="form-group selectpicker-wrapper">
                        <label>QTY</label>
                        <select title="Looking to Buy" data-toggle="tooltip" data-width="100%" data-live-search="true"
                                class="selectpicker input-price bs-select-hidden">
                            <option class="bs-title-option" value="">01</option>
                            <option>01</option>
                            <option>02</option>
                            <option>03</option>
                            <option>04</option>
                            <option>05</option>
                        </select>
                    </div>
                </div>
            </form>
            <div class="widget-colors">
                <span>Colors:</span>
                <label class="rcheckbox-inline"><input type="checkbox" value="" id="brown">
                    <span></span></label>
                <label class="rcheckbox-inline"><input type="checkbox" value="" id="light">
                    <span></span></label>
                <label class="rcheckbox-inline"><input type="checkbox" value="" id="dark">
                    <span></span></label>
                <label class="rcheckbox-inline"><input type="checkbox" value="" id="orange">
                    <span></span></label>
                <label class="rcheckbox-inline"><input type="checkbox" value="" id="blue">
                    <span></span></label>
                <label class="rcheckbox-inline"><input type="checkbox" value="" id="yellow">
                    <span></span></label>
                <label class="rcheckbox-inline"><input type="checkbox" value="" id="green">
                    <span></span></label>
                <label class="rcheckbox-inline"><input type="checkbox" value="" id="white">
                    <span></span></label>
            </div>
            <hr class="fullwidth-divider">
        </div>
        <div class="add-to-cart">
            <a class="blue-btn btn" href="#"> <i class="fa fa-shopping-cart white-color"></i>
                Add to Cart</a>
            <a class="pink-btn btn" href="{{ item.get_absolute_url }}"> Go To Details </a>
        </div>
    </div>
</div>