{% load staticfiles %}
<div class="col-md-7 col-sm-7">
    <!-- Main Slider Start -->
    <section id="main-slider1" class="carousel slide main-slider">
        <!--Carousel Slide Button Start-->
        <div class="slider-pagination col-md-2 col-sm-3  col-xs-3">
            <ul class="product-thumbnails">
                <li data-slide-to="0" data-target="#main-slider1">
                    <a href="#"><img class="img-responsive" alt="img"
                                     src="{% static "themforest/img/product/single-thumb1.png" %}"></a></li>
                <li class="active" data-slide-to="1" data-target="#main-slider1">
                    <a href="#"><img class="img-responsive" alt="img"
                                     src="{% static "themforest/img/product/single-thumb2.png" %}"></a></li>
                <li data-slide-to="2" data-target="#main-slider1">
                    <a href="#"><img class="img-responsive" alt="img"
                                     src="{% static "themforest/img/product/single-thumb3.png" %}"></a></li>
                <li data-slide-to="3" data-target="#main-slider1">
                    <a href="#"><img class="img-responsive" alt="img"
                                     src="{% static "themforest/img/product/single-thumb4.png" %}"></a></li>
            </ul>
        </div>
        <div class="col-md-10 col-sm-9  col-xs-9">
            <div class="carousel-inner product-fullwidth light-bg slider">
                <div class="item">
                    <img src="{% static "themforest/img/product/single-prod1.png" %}" alt="...">
                </div>
                <div class="item active">
                    <img src="{% static "themforest/img/product/single-prod1.png" %}" alt="...">
                </div>
                <div class="item">
                    <img src="{% static "themforest/img/product/single-prod1.png" %}" alt="...">
                </div>
                <div class="item">
                    <img src="{% static "themforest/img/product/single-prod1.png" %}" alt="...">
                </div>
            </div>
        </div>

    </section>
    <!-- / Main Slider Ends -->
</div>