<div class="modal fade" id="product-preview-{{ item.slug }}" tabindex="-1" role="dialog" aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content space-40">
            <a aria-hidden="true" data-dismiss="modal" class="sb-close-btn close fa fa-times" href="#"></a>
            <!--<button aria-hidden="true" data-dismiss="modal" class="close sb-close-btn" type="button"><i class="fa fa-times"></i></button>-->
            <!-- Single Products Start -->
            <div class="clearfix"></div>
            <section id="product-fullwidth" class="clearfix">
                <div class="single-product-wrap">
                    <div class="list-category-details">
                        {% include "items/product_list/preview/images.html" %}
                        {% include "items/product_list/preview/details.html" %}
                    </div>
                </div>
            </section>
            <!-- Single Products Ends -->
        </div>
    </div>
</div>