{% extends "base.html" %}
{% block content %}
    {% include "items/breadcrumbs.html" %}
    <article class="container theme-container">
        <section class="product-category">
            <div class="row">
                <!-- Sidebar Start -->
                {% include "items/filters/left_filters.html" %}
                <!-- / Sidebar Ends -->
                {% block product_content %}

                {% endblock product_content %}
            </div>
        </section>
    </article>
{% endblock content %}