{% extends "base.html" %}
{% block content %}
{#            {% include "items/breadcrumbs.html" %}#}
    <div class="margin-top-80">
        <article class="container theme-container">
            {% block product_content %}

            {% endblock product_content %}
        </article>
    </div>

{% endblock content %}