<div class="modal fade" id="product-preview" tabindex="-1" role="dialog" aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content space-40">
            <a aria-hidden="true" data-dismiss="modal" class="sb-close-btn close fa fa-times" href="#"></a>
            <!--<button aria-hidden="true" data-dismiss="modal" class="close sb-close-btn" type="button"><i class="fa fa-times"></i></button>-->
            <!-- Single Products Start -->
            <div class="clearfix"></div>
            <section id="product-preview-content" class="clearfix">
            </section>
        </div>

    </div>
</div>

<script>
    function OnModalShow(event) {
        event.preventDefault();
        var target = event.target || event.srcElement;
        var api_url = $(target).attr("data-api-url");
        $('#product-preview').modal('show');
        babyStore.OnModalChoose(
                api_url,
                "{{ MEDIA_URL }}",
                "product-preview-content"
        );
    }
</script>