{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="container comment_list margin-top-80">
        {% load comments %}
        <div class="title-wrap  text-center space-bottom-25">
            <h2 class="section-title with-border">
                                <span class="white-bg">
                                    <span class="funky-font pink-tag">{% trans 'Reviews' %}</span>
                                    <span class="italic-font">{% trans 'Ratings' %}</span>
                                </span>
            </h2>
        </div>
        {#{% render_comment_form for object %}#}
        <div class="account-details-wrap">
            <div class="title-2 sub-title-small">{% trans 'Your Reviews and Ratings' %}</div>
            <table class="product-table">
                <tbody>
                {% get_comment_list for entry as comment_list %}
                {% for comment in comment_list %}
                    <tr {% if request.user.id == comment.user_id %} id="my_comment"
                                                                    style="background-color: #dff0d8"{% endif %}>
                        <td class="col-lg-3 col-md-3 col-md-3 ratings">
                            <p> {% trans 'Review Product -' %}</p>
                            <h4 class="caption-title">
                                <a href="{{ entry.get_absolute_url }}">
                                    {{ entry.name }}
                                </a>
                            </h4>
                            {% load comments_filter %}
                            {{ comment.rating|get_stars }}
                            <p>{{ comment.user_name }}</p>
                            <p>{{ comment.submit_date }}</p>
                        </td>
                        <td class="col-lg-9 col-md-9 col-md-9 reviews">
                            <h2>{{ comment.title }}</h2>
                            <p>{{ comment.comment }}</p>
                        </td>
                    </tr>
                {% endfor %}
                <script>
                    $('html, body').animate({
                        scrollTop: $("#my_comment").offset().top - 350
                    }, 1000);
                </script>
                </tbody>
            </table>
        </div>
        {% get_comment_count for entry as comment_count %}
        <p>
            {% blocktrans with count=comment_count %}
                {{ count }} comments have been posted.
            {% endblocktrans %}
        </p>
        {% if request.user.is_authenticated and comment_list|has_user_commented:request %}
            {% render_comment_form for entry %}
        {% endif %}
    </div>
{% endblock content %}
{% load staticfiles %}
{% block style %}
    <link href="{% static 'themforest/plugins/bootstrap-select/css/bootstrap-select.min.css' %}" rel="stylesheet"
          type="text/css">
{% endblock style %}
{% block script %}
    <script src="{% static "themforest/plugins/bootstrap-select/js/bootstrap-select.min.js" %}"></script>
{% endblock script %}