{% extends "items/base_full_width.html" %}
{% load staticfiles %}
{% block style %}
    <link href="{% static 'themforest/plugins/bootstrap-select/css/bootstrap-select.min.css' %}" rel="stylesheet"
          type="text/css">
    <link href="{% static 'items/single_page_image_paging.css' %}" rel="stylesheet"/>
    <link href="{% static 'items/owl.carousel/owl.carousel.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'themforest/plugins/owl-carousel/owl.carousel.css' %}" rel="stylesheet"/>
    <link href="{% static 'items/owl.carousel/owl.theme.default.min.css' %}" rel="stylesheet"/>
    <script src="{% static "items/products.js" %}"></script>
{% endblock style %}

{% load base_filters %}
{% block product_content %}
    {#    <aside class="col-md-9 col-sm-8">#}
    <!-- Single Products Start -->
    {% include "items/single_product/product.html" %}
    <!-- Single Products Ends -->

    <!-- Single Products Description Start -->
    {% include "items/single_product/product_description.html" %}
    <!-- Single Products Description Ends -->

    <!-- Related Products Start -->
    {% include "items/single_product/related_products.html" %}
    <!-- / Related Products Ends -->
    {#    </aside>#}
{% endblock product_content %}
{% block script %}
    <script src="{% static "themforest/plugins/bootstrap-select/js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "themforest/plugins/owl-carousel/owl.carousel.min.js" %}"></script>
    <script src="{% static "themforest/js/theme.js" %}"></script>
{% endblock script %}