{% load i18n %}
{% load staticfiles %}
{% load base_filters %}
{% load items_helper_tags %}
<section id="product-fullwidth" class="space-bottom-45">
    <div class="single-product-wrap">
        <div class="list-category-details">
            <div class="row">
                <div class="col-md-7 col-sm-12">
                    <div class="row" id="slider">
                    </div>
                </div>
                <div class="col-md-5 col-sm-12">
                    <div class="product-content">
                        {% rating_tag object %}
                        <div class="product-name">
                            <h4>{{ object.name }}</h4>
                        </div>
                        <div id="metaData">
                        </div>
                        <div class="add-to-cart">
                            <a class="blue-btn btn" href="#"> <i
                                    class="fa fa-shopping-cart white-color"></i> Add to Cart</a>
                            <a class="btn default-btn" href="#"> <i class="fa fa-heart"></i> </a>
                            <a class="btn default-btn" href="#"> <i class="fa fa-eye"></i> </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        babyStore.InitializeSingleProduct({
            api_url: "{% url "items:product_details_api" object.slug %}",
            media_root: "{{ MEDIA_URL }}"
        });
    });
</script>