{% load i18n %}
{% load staticfiles %}
{% load base_filters %}
<section id="description-item">
    <div class="row">
        <div class="col-md-8 col-sm-8">
            <!-- Product Best Sellers Start -->
            <section id="single-product-tabination" class="space-bottom-45">
                <div class="light-bg product-tabination default-box-shadow">
                    <div class="tabination">
                        <div class="product-tabs" role="tabpanel">
                            <!-- Nav tabs -->
                            <ul role="tablist" class="nav nav-tabs navtab-horizontal">
                                <li role="presentation" class="active">
                                    <a class="green-background" data-toggle="tab" role="tab"
                                       href="#description" aria-expanded="true">{% trans "Description" %}</a>
                                </li>
                                <li role="presentation">
                                    <a class="pink-background" data-toggle="tab" role="tab"
                                       href="#brand-info" aria-expanded="false">{% trans "Brand Info" %}</a>
                                </li>
                                <li role="presentation" class="">
                                    <a data-toggle="tab" class="golden-background" role="tab"
                                       href="#reviews" aria-expanded="false">{% trans "Reviews" %}</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- =============================== Description ============================= -->
                                <div id="description" class="tab-pane fade active in"
                                     role="tabpanel">
                                    <div class="col-md-12 product-wrap">
                                        <div class="title-wrap">
                                            <h2 class="section-title">
                                                <span>
                                                    <span class="funky-font blue-tag">{% trans "Product" %} </span>
                                                    <span class="italic-font">{% trans "Description" %} </span>
                                                </span>
                                            </h2>
                                        </div>
                                        <div class="product-disc space-bottom-35">
                                            <p>
                                                {{ object|translate:"description"|safe }}
                                            </p>
                                            <div class="row circle-list-box">
                                                <div class="box-left col-md-6 col-sm-6">
                                                    <h2 class="title-2 sub-title-small">
                                                        {% trans 'Key Features' %}
                                                    </h2>
                                                    <ul class="circle-list">
                                                        {% for feature in object|translate:"key_features" %}
                                                            <li> {{ feature }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                                <div class="box-right col-md-6 col-sm-6">
                                                    <h2 class="title-2 sub-title-small">
                                                        {% trans 'Specification' %}
                                                    </h2>
                                                    <ul class="circle-list">
                                                        {% for specification in object|translate:"specification" %}
                                                            <li> {{ specification }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ====================== Brand Info ======================== -->
                                <div id="brand-info" class="tab-pane fade" role="tabpanel">
                                    <div class="col-md-12 product-wrap">
                                        <div class="title-wrap">
                                            <h2 class="section-title">
                                                <span>
                                                    <span class="funky-font blue-tag">{% trans "Product" %}</span>
                                                    <span class="italic-font">{% trans "Brand" %}</span>
                                                </span>
                                            </h2>
                                        </div>
                                        <div class="product-disc space-bottom-35">
                                            <p>
                                                {{ object.brand|translate:"description"|safe }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- ====================== Reviews ======================== -->
                                <div id="reviews" class="tab-pane fade" role="tabpanel">
                                    <div class="col-md-12 product-wrap">
                                        <div class="title-wrap  text-center space-bottom-25">
                                            <h2 class="section-title with-border">
                                                <span class="white-bg">
                                                    <span class="funky-font pink-tag">{% trans 'Reviews' %}</span>
                                                    <span class="italic-font">{% trans 'Ratings' %} </span>
                                                </span>
                                            </h2>
                                        </div>
                                        <div class="product-disc space-bottom-35">
                                            <div class="col-md-12 col-sm-12 space-bottom-45">
                                                {% include "items/single_product/reviews.html" %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- / Product Best Sellers Ends -->
        </div>
        <div class="col-md-4 col-sm-4">
            {% load items_helper_tags %}
            {% top_rated %}
        </div>
    </div>
</section>