{% load staticfiles %}
<section id="product-tabination-1" class="space-bottom-45">
    <div class="related-aside">
        <div class="title-wrap with-border space-25">
            <h2 class="section-title with-border">
                                            <span class="white-bg">
                                                <span class="funky-font blue-tag">Related</span>
                                                <span class="italic-font">Product</span>
                                            </span>
            </h2>
            <h3 class="sub-title">Recently Item You Viewed</h3>
            <hr class="dash-divider">
        </div>
        <div class="light-bg product-tabination">
            <div class="tabination">
                <div class="product-tabs" role="tabpanel">
                    <!-- Nav tabs -->
                    <ul role="tablist" class="nav nav-tabs navtab-horizontal">
                        <li role="presentation" class="active">
                            <a class="green-background" data-toggle="tab" role="tab"
                               href="#related-product" aria-expanded="true">Related Products</a>
                        </li>
                        <li class="" role="presentation">
                            <a class="pink-background" data-toggle="tab" role="tab"
                               href="#recently-viewed" aria-expanded="false">Recently Viewed</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <!-- ====================== Related Products ======================== -->
                        <div id="related-product" class="tab-pane fade active in" role="tabpanel">
                            <div class="col-md-12 product-wrap default-box-shadow">
                                <div class="title-wrap">
                                    <h2 class="section-title">
                                                                    <span>
                                                                        <span class="funky-font blue-tag">Best</span>
                                                                        <span class="italic-font">Sellers</span>
                                                                    </span>
                                    </h2>
                                    <div class="poroduct-pagination">
                                                            <span class="product-slide blue-background next"> <i
                                                                    class="fa fa-chevron-left"></i> </span>
                                                            <span class="product-slide blue-background prev"> <i
                                                                    class="fa fa-chevron-right"></i> </span>
                                    </div>
                                </div>
                                <div class="product-slider related-product related-product owl-carousel owl-theme">
                                    <div class="item">
                                        <div class="product-details">
                                            <div class="product-media">
                                                                            <span class="hover-image white-bg">
                                                                                <img src="{% static "themforest/img/product/cat-7.png" %}"
                                                                                     alt="">
                                                                            </span>
                                                <img src="{% static "themforest/img/product/product5.png" %}"
                                                     alt="product-img">
                                                <div class="product-overlay">
                                                    <a class="addcart blue-background fa fa-shopping-cart"
                                                       href="#"></a>
                                                    <a class="likeitem green-background fa fa-heart"
                                                       href="#"></a>
                                                    <a class="preview pink-background fa fa-eye"
                                                       href="#product-preview"
                                                       data-toggle="modal"></a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <div class="rating">
                                                    <span class="star active"></span>
                                                    <span class="star active"></span>
                                                    <span class="star active"></span>
                                                    <span class="star half"></span>
                                                    <span class="star"></span>
                                                </div>
                                                <div class="product-name">
                                                    <p><a href="#">Babyhug Frock Style Top And
                                                        Leggings</a></p>

                                                </div>
                                                <div class="product-price">
                                                    <h4 class="pink-btn-small"> $50.00 </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="product-details">
                                            <div class="product-media">
                                                                            <span class="hover-image white-bg">
                                                                                <img src="{% static "themforest/img/product/cat-7.png" %}"
                                                                                     alt="">
                                                                            </span>
                                                <img src="{% static "themforest/img/product/product6.png" %}"
                                                     alt="product-img">
                                                <div class="product-new">
                                                    <div class="golden-new-tag new-tag">
                                                        <a class="funky-font" href="#">New</a>
                                                    </div>
                                                </div>
                                                <div class="product-overlay">
                                                    <a class="addcart blue-background fa fa-shopping-cart"
                                                       href="#"></a>
                                                    <a class="likeitem green-background fa fa-heart"
                                                       href="#"></a>
                                                    <a class="preview pink-background fa fa-eye"
                                                       href="#product-preview"
                                                       data-toggle="modal"></a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <div class="rating">
                                                    <span class="star active"></span>
                                                    <span class="star active"></span>
                                                    <span class="star active"></span>
                                                    <span class="star half"></span>
                                                    <span class="star"></span>
                                                </div>
                                                <div class="product-name">
                                                    <p><a href="#">Babyhug Frock Style Top And
                                                        Leggings</a></p>

                                                </div>
                                                <div class="product-price">
                                                    <h4 class="pink-btn-small"> $50.00 </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="product-details">
                                            <div class="product-media">
                                                                            <span class="hover-image white-bg">
                                                                                <img src="{% static "themforest/img/product/cat-7.png" %}"
                                                                                     alt="">
                                                                            </span>
                                                <img src="{% static "themforest/img/product/product7.png" %}"
                                                     alt="product-img">
                                                <div class="product-overlay">
                                                    <a class="addcart blue-background fa fa-shopping-cart"
                                                       href="#"></a>
                                                    <a class="likeitem green-background fa fa-heart"
                                                       href="#"></a>
                                                    <a class="preview pink-background fa fa-eye"
                                                       href="#product-preview"
                                                       data-toggle="modal"></a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <div class="rating">
                                                    <span class="star active"></span>
                                                    <span class="star active"></span>
                                                    <span class="star active"></span>
                                                    <span class="star half"></span>
                                                    <span class="star"></span>
                                                </div>
                                                <div class="product-name">
                                                    <p><a href="#">Babyhug Frock Style Top And
                                                        Leggings</a></p>

                                                </div>
                                                <div class="product-price">
                                                    <h4 class="pink-btn-small"> $50.00 </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="product-details">
                                            <div class="product-media">
                                                                            <span class="hover-image white-bg">
                                                                                <img src="{% static "themforest/img/product/cat-7.png" %}"
                                                                                     alt="">
                                                                            </span>
                                                <img src="{% static "themforest/img/product/product8.png" %}"
                                                     alt="product-img">
                                                <div class="product-new">
                                                    <div class="blue-new-tag new-tag">
                                                        <a class="funky-font" href="#">New</a>
                                                    </div>
                                                </div>
                                                <div class="product-overlay">
                                                    <a class="addcart blue-background fa fa-shopping-cart"
                                                       href="#"></a>
                                                    <a class="likeitem green-background fa fa-heart"
                                                       href="#"></a>
                                                    <a class="preview pink-background fa fa-eye"
                                                       href="#product-preview"
                                                       data-toggle="modal"></a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <div class="rating">
                                                    <span class="star active"></span>
                                                    <span class="star active"></span>
                                                    <span class="star active"></span>
                                                    <span class="star half"></span>
                                                    <span class="star"></span>
                                                </div>
                                                <div class="product-name">
                                                    <p><a href="#">Babyhug Frock Style Top And
                                                        Leggings</a></p>

                                                </div>
                                                <div class="product-price">
                                                    <h4 class="pink-btn-small"> $50.00 </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="product-details">
                                            <div class="product-media">
                                                                            <span class="hover-image white-bg">
                                                                                <img src="{% static "themforest/img/product/cat-7.png" %}"
                                                                                     alt="">
                                                                            </span>
                                                <img src="{% static "themforest/img/product/product5.png" %}"
                                                     alt="product-img">
                                                <div class="product-overlay">
                                                    <a class="addcart blue-background fa fa-shopping-cart"
                                                       href="#"></a>
                                                    <a class="likeitem green-background fa fa-heart"
                                                       href="#"></a>
                                                    <a class="preview pink-background fa fa-eye"
                                                       href="#product-preview"
                                                       data-toggle="modal"></a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <div class="rating">
                                                    <span class="star active"></span>
                                                    <span class="star active"></span>
                                                    <span class="star active"></span>
                                                    <span class="star half"></span>
                                                    <span class="star"></span>
                                                </div>
                                                <div class="product-name">
                                                    <p><a href="#">Babyhug Frock Style Top And
                                                        Leggings</a></p>

                                                </div>
                                                <div class="product-price">
                                                    <h4 class="pink-btn-small"> $50.00 </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="product-details">
                                            <div class="product-media">
                                                                            <span class="hover-image white-bg">
                                                                                <img src="{% static "themforest/img/product/cat-7.png" %}"
                                                                                     alt="">
                                                                            </span>
                                                <img src="{% static "themforest/img/product/product6.png" %}"
                                                     alt="product-img">
                                                <div class="product-overlay">
                                                    <a class="addcart blue-background fa fa-shopping-cart"
                                                       href="#"></a>
                                                    <a class="likeitem green-background fa fa-heart"
                                                       href="#"></a>
                                                    <a class="preview pink-background fa fa-eye"
                                                       href="#product-preview"
                                                       data-toggle="modal"></a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <div class="rating">
                                                    <span class="star active"></span>
                                                    <span class="star active"></span>
                                                    <span class="star active"></span>
                                                    <span class="star half"></span>
                                                    <span class="star"></span>
                                                </div>
                                                <div class="product-name">
                                                    <p><a href="#">Babyhug Frock Style Top And
                                                        Leggings</a></p>

                                                </div>
                                                <div class="product-price">
                                                    <h4 class="pink-btn-small"> $50.00 </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ====================== Recently Viewed ======================== -->
                        <div id="recently-viewed" class="tab-pane fade" role="tabpanel">
                            <div class="col-md-12 product-wrap default-box-shadow">
                                <div class="title-wrap">
                                    <h2 class="section-title">
                                                                    <span>
                                                                        <span class="funky-font blue-tag">Latest</span>
                                                                        <span class="italic-font">Items</span>
                                                                    </span>
                                    </h2>
                                    <div class="poroduct-pagination">
                                                            <span class="product-slide blue-background next"> <i
                                                                    class="fa fa-chevron-left"></i> </span>
                                                            <span class="product-slide blue-background prev"> <i
                                                                    class="fa fa-chevron-right"></i> </span>
                                    </div>
                                </div>
                                <div class="product-slider related-product owl-carousel owl-theme">
                                    <div class="item">
                                        <div class="product-details">
                                            <div class="product-media">
                                                                            <span class="hover-image white-bg">
                                                                                <img src="{% static "themforest/img/product/cat-7.png" %}"
                                                                                     alt="">
                                                                            </span>
                                                <img src="{% static "themforest/img/product/product9.png" %}"
                                                     alt="product-img">
                                                <div class="product-new">
                                                    <div class="golden-new-tag new-tag">
                                                        <a class="funky-font" href="#">New</a>
                                                    </div>
                                                </div>
                                                <div class="product-overlay">
                                                    <a class="addcart blue-background fa fa-shopping-cart"
                                                       href="#"></a>
                                                    <a class="likeitem green-background fa fa-heart"
                                                       href="#"></a>
                                                    <a class="preview pink-background fa fa-eye"
                                                       href="#product-preview"
                                                       data-toggle="modal"></a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <div class="rating">
                                                    <span class="star active"></span>
                                                    <span class="star active"></span>
                                                    <span class="star active"></span>
                                                    <span class="star half"></span>
                                                    <span class="star"></span>
                                                </div>
                                                <div class="product-name">
                                                    <p><a href="#">Babyhug Frock Style Top And
                                                        Leggings</a></p>

                                                </div>
                                                <div class="product-price">
                                                    <h4 class="pink-btn-small"> $50.00 </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="product-details">
                                            <div class="product-media">
                                                                            <span class="hover-image white-bg">
                                                                                <img src="{% static "themforest/img/product/cat-7.png" %}"
                                                                                     alt="">
                                                                            </span>
                                                <img src="{% static "themforest/img/product/product10.png" %}"
                                                     alt="product-img">
                                                <div class="product-overlay">
                                                    <a class="addcart blue-background fa fa-shopping-cart"
                                                       href="#"></a>
                                                    <a class="likeitem green-background fa fa-heart"
                                                       href="#"></a>
                                                    <a class="preview pink-background fa fa-eye"
                                                       href="#product-preview"
                                                       data-toggle="modal"></a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <div class="rating">
                                                    <span class="star active"></span>
                                                    <span class="star active"></span>
                                                    <span class="star active"></span>
                                                    <span class="star half"></span>
                                                    <span class="star"></span>
                                                </div>
                                                <div class="product-name">
                                                    <p><a href="#">Babyhug Frock Style Top And
                                                        Leggings</a></p>

                                                </div>
                                                <div class="product-price">
                                                    <h4 class="pink-btn-small"> $50.00 </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="product-details">
                                            <div class="product-media">
                                                                            <span class="hover-image white-bg">
                                                                                <img src="{% static "themforest/img/product/cat-7.png" %}"
                                                                                     alt="">
                                                                            </span>
                                                <img src="{% static "themforest/img/product/product11.png" %}"
                                                     alt="product-img">
                                                <div class="product-new">
                                                    <div class="blue-new-tag new-tag">
                                                        <a class="funky-font" href="#">New</a>
                                                    </div>
                                                </div>
                                                <div class="product-overlay">
                                                    <a class="addcart blue-background fa fa-shopping-cart"
                                                       href="#"></a>
                                                    <a class="likeitem green-background fa fa-heart"
                                                       href="#"></a>
                                                    <a class="preview pink-background fa fa-eye"
                                                       href="#product-preview"
                                                       data-toggle="modal"></a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <div class="rating">
                                                    <span class="star active"></span>
                                                    <span class="star active"></span>
                                                    <span class="star active"></span>
                                                    <span class="star half"></span>
                                                    <span class="star"></span>
                                                </div>
                                                <div class="product-name">
                                                    <p><a href="#">Babyhug Frock Style Top And
                                                        Leggings</a></p>

                                                </div>
                                                <div class="product-price">
                                                    <h4 class="pink-btn-small"> $50.00 </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="product-details">
                                            <div class="product-media">
                                                                            <span class="hover-image white-bg">
                                                                                <img src="{% static "themforest/img/product/cat-7.png" %}"
                                                                                     alt="">
                                                                            </span>
                                                <img src="{% static "themforest/img/product/product12.png" %}"
                                                     alt="product-img">
                                                <div class="product-overlay">
                                                    <a class="addcart blue-background fa fa-shopping-cart"
                                                       href="#"></a>
                                                    <a class="likeitem green-background fa fa-heart"
                                                       href="#"></a>
                                                    <a class="preview pink-background fa fa-eye"
                                                       href="#product-preview"
                                                       data-toggle="modal"></a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <div class="rating">
                                                    <span class="star active"></span>
                                                    <span class="star active"></span>
                                                    <span class="star active"></span>
                                                    <span class="star half"></span>
                                                    <span class="star"></span>
                                                </div>
                                                <div class="product-name">
                                                    <p><a href="#">Babyhug Frock Style Top And
                                                        Leggings</a></p>

                                                </div>
                                                <div class="product-price">
                                                    <h4 class="pink-btn-small"> $50.00 </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="product-details">
                                            <div class="product-media">
                                                                            <span class="hover-image white-bg">
                                                                                <img src="{% static "themforest/img/product/cat-7.png" %}"
                                                                                     alt="">
                                                                            </span>
                                                <img src="{% static "themforest/img/product/product9.png" %}"
                                                     alt="product-img">
                                                <div class="product-overlay">
                                                    <a class="addcart blue-background fa fa-shopping-cart"
                                                       href="#"></a>
                                                    <a class="likeitem green-background fa fa-heart"
                                                       href="#"></a>
                                                    <a class="preview pink-background fa fa-eye"
                                                       href="#product-preview"
                                                       data-toggle="modal"></a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <div class="rating">
                                                    <span class="star active"></span>
                                                    <span class="star active"></span>
                                                    <span class="star active"></span>
                                                    <span class="star half"></span>
                                                    <span class="star"></span>
                                                </div>
                                                <div class="product-name">
                                                    <p><a href="#">Babyhug Frock Style Top And
                                                        Leggings</a></p>

                                                </div>
                                                <div class="product-price">
                                                    <h4 class="pink-btn-small"> $50.00 </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="product-details">
                                            <div class="product-media">
                                                                            <span class="hover-image white-bg">
                                                                                <img src="{% static "themforest/img/product/cat-7.png" %}"
                                                                                     alt="">
                                                                            </span>
                                                <img src="{% static "themforest/img/product/product10.png" %}"
                                                     alt="product-img">
                                                <div class="product-overlay">
                                                    <a class="addcart blue-background fa fa-shopping-cart"
                                                       href="#"></a>
                                                    <a class="likeitem green-background fa fa-heart"
                                                       href="#"></a>
                                                    <a class="preview pink-background fa fa-eye"
                                                       href="#product-preview"
                                                       data-toggle="modal"></a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <div class="rating">
                                                    <span class="star active"></span>
                                                    <span class="star active"></span>
                                                    <span class="star active"></span>
                                                    <span class="star half"></span>
                                                    <span class="star"></span>
                                                </div>
                                                <div class="product-name">
                                                    <p><a href="#">Babyhug Frock Style Top And
                                                        Leggings</a></p>

                                                </div>
                                                <div class="product-price">
                                                    <h4 class="pink-btn-small"> $50.00 </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>