{% load i18n %}
{% load comments %}
<div class="account-details-wrap">
    {#    <div class="title-2 sub-title-small">Your Reviews and Ratings</div>#}
    <table class="product-table">
        <tbody>
        {% render_top_comment_list for object %}
        </tbody>
    </table>
</div>
{% get_comment_count for object as comment_count %}
<p>
    <a class="text-info" href="{% url "custom_comments:custom_comments_list" object.slug 0 %}">
        {% blocktrans with count=comment_count %}
            read all {{ count }} comments
        {% endblocktrans %}

    </a>
</p>
