.thumbnail_div:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.thumbnail_div {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: 0px center, 0px center;
    background-repeat: no-repeat;
}

.product-thumbnails > li {
    width: auto !important;
    height: auto !important;
}

.c-image-slider .owl-carousel .item {
    padding: 1rem;
    /*height: 2rem;*/
}

.c-image-slider .owl-carousel .item ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.c-image-slider .owl-carousel .item ul li {
    display: block;
    margin: 1rem;
}

.c-image-slider .owl-carousel .owl-nav {
    color: #00A000;
}

.c-image-slider .owl-carousel .owl-prev, .owl-carousel .owl-next {
    float: left;
}

.c-image-slider .owl-carousel .owl-next {
    float: right;
}

.c-image-slider .owl-carousel .owl-prev.disabled {
    display: none;
}

.c-image-slider .owl-carousel .owl-next.disabled {
    display: none;
}

.fadeOutCustom {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
