{% load comments %}
{% get_comment_form for entry as form %}
<!-- A context variable called form is created with the necessary hidden
fields, timestamps and security hashes -->
{% if  request.user.is_authenticated %}
    <form action="{% comment_form_target %}" method="post">
        {% csrf_token %}
        <div class="container-fluid">
            <div class="row">
                <div>
                    <div>
                        <div class="input-group">
                            <div class="input-group-btn">
                                {{ form.rating.errors }}
                                {{ form.rating }}
                            </div>
                            {{ form.title.errors }}
                            {{ form.title }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.comment.errors }}
                        {{ form.comment }}
                    </div>
                </div>

                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
            </div>
            <div class="row">
                <div class="btn-group">
                    <input class="btn btn-sm btn-success" type="submit" name="submit" value="Post">
                    <input class="btn btn-sm btn-default" type="submit" name="preview" value="Preview">
                    <input type="hidden" name="next"
                           value="{% url "custom_comments:custom_comments_list" entry.slug 0 %}"/>
                </div>
            </div>
        </div>
    </form>
{% endif %}