{% load comments %}
{% load i18n %}
{% get_comment_list for entry as comment_list %}
{% for comment in comment_list %}
    <tr {% if request.user.id == comment.user_id %} id="my_comment" style="background-color: #dff0d8"{% endif %}>
        <td class="col-lg-3 col-md-3 col-md-3 ratings">
            <p> {% trans 'Review Product -' %}</p>
            <h4 class="caption-title">
                <a href="{{ entry.get_absolute_url }}">
                    {{ entry.name }}
                </a>
            </h4>
            {% load comments_filter %}
            {{ comment.rating|get_stars }}
            <p>{{ comment.user_name }}</p>
            <p>{{ comment.submit_date }}</p>
        </td>
        <td class="col-lg-9 col-md-9 col-md-9 reviews">
            <h2>{{ comment.title }}</h2>
            <p>{{ comment.comment }}</p>
        </td>
    </tr>
{% endfor %}
<script>
    $('html, body').animate({
        scrollTop: $("#my_comment").offset().top - 350
    }, 1000);
</script>