{% load comments %}
{% load i18n %}
{% get_top_comment_list for object as comment_list %}
{% for comment in comment_list %}
    <tr>
        <td class="col-lg-3 col-md-3 col-md-3 ratings">
            <p>{% trans 'Review Product -' %} </p>
            <h4 class="caption-title">
                <a href="{{ object.get_absolute_url }}">
                    {{ object.name }}
                </a>
            </h4>
            {% load comments_filter %}
            {{ comment.rating|get_stars }}
            <p>{{ comment.user_name }}</p>
            <p>{{ comment.submit_date }}</p>
        </td>
        <td class="col-lg-9 col-md-9 col-md-9 reviews">
            <h2>{{ comment.title }}</h2>
            <p>{{ comment.comment }}</p>
        </td>
    </tr>
{% endfor %}