{% load i18n %}
{% load staticfiles %}
{% load items_filter_tags %}
{% load comments_filter %}

{% include "items/preview_modal.html" %}
<div class="light-bg padding-25 top-rated default-box-shadow">
    <div class="row">
        <div class="title-wrap col-md-9">
            <h2 class="section-title">
              <span>
                  <span class="funky-font green-tag">{% trans 'Top' %}</span>
                  <span class="italic-font">{% trans 'Rated' %}</span>
              </span>
            </h2>
        </div>
        <div class="poroduct-pagination col-md-3">
             <span class="product-slide gray-background next">
                 <i class="fa fa-chevron-left"></i>
             </span>
             <span class="product-slide gray-background prev">
                 <i class="fa fa-chevron-right"></i>
             </span>
        </div>
    </div>
    <div class="top-rated-owl-slider">
        <div class="item">
            {% for item in items %}
                <div class="category-details">
                    <div class="col-md-4 thumbnail">
                        <div class="white-bg">
                            <img alt="product-img" src="{{ item.images|get_img_url:0 }}">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="product-content">
                            <div class="rating">
                                {{ item.rating|get_avg_star }}
                            </div>
                            <div class="product-name">
                                <a href="{{ item.get_absolute_url }}">{{ item }}</a>
                            </div>
                            <div class="product-price">
                                <h4 class="pink-btn-small"> {{ item.price }} </h4>
                            </div>
                            <div class="product-overlay">
                                <a href="#" class="addcart blue-background fa fa-shopping-cart"></a>
                                <a class="preview pink-background fa fa-eye"
                                   onclick="OnModalShow(event)"
                                   data-api-url="{% url "items:product_details_api" item.slug %}"
                                   data-toggle="modal"></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                    </div>
                    <div class="item">
                {% endif %}
            {% endfor %}
            </div>
    </div>
</div>
