<div class="inline-block">
    <div class="pagination-wrapper">
        <ul class="pagination-list">
            {% if page_obj.number > 3 %}
                <li><a href="{% url "items:product_list" 1 %}"> 1 </a></li>
                <li>...</li>
                <li>
                    <a href="{% url "items:product_list" page_obj.previous_page_number %}">
                        {{ page_obj.previous_page_number }}
                    </a>
                </li>
                <li class="active">
                    <a href="{% url "items:product_list" page_obj.number %}">
                        {{ page_obj.number }}
                    </a>
                </li>
                {% if  page_obj.has_next %}
                    <li>
                        <a href="{% url "items:product_list" page_obj.next_page_number %}">
                            {{ page_obj.next_page_number }}
                        </a>
                    </li>
                {% endif %}
            {% else %}
                <li {% if page_obj.number == 1 %}class="active"{% endif %}>
                    <a href="{% url "items:product_list" 1 %}">
                        1
                    </a>
                </li>
                <li {% if page_obj.number == 2 %}class="active"{% endif %}>
                    <a href="{% url "items:product_list" 2 %}">
                        2
                    </a>
                </li>
                {% if page_obj.number == 3 %}
                    <li class="active">
                        <a href="{% url "items:product_list" 3 %}">
                            3
                        </a>
                    </li>
                    {% if  page_obj.has_next %}
                        <li>
                            <a href="{% url "items:product_list" page_obj.next_page_number %}">
                                {{ page_obj.next_page_number }}
                            </a>
                        </li>
                    {% endif %}
                {% else %}
                    <li>
                        <a href="{% url "items:product_list" 3 %}">
                            3
                        </a>
                    </li>
                {% endif %}

            {% endif %}
            {% if  page_obj.has_next and page_obj.next_page_number < paginator.num_pages %}
                <li>
                    ...
                </li>
                <li>
                    <a href="{% url "items:product_list" paginator.num_pages %}">
                        {{ paginator.num_pages }}
                    </a>
                </li>
                <li class="nxt">
                <a href="{% url "items:product_list" page_obj.next_page_number %}"> <i class=" fa fa-angle-right"></i>
                </a>
            {% endif %}

            </li>
        </ul>
    </div>
</div>

