{% load base_tags %}
<div class="light-bg margin-30 sorter">
    <div class="col-md-6 col-sm-12">
        <div class="row">
            <div class="view-as col-md-5 col-sm-4">
                <span>View as:</span>
                <div class="inline-block">
                    <ul class="nav-tabs tabination">
                        <li class="active">
                            <a data-toggle="tab" href="#grid-view" aria-expanded="true">
                                <i class="fa fa-th-large"></i>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#list-view" aria-expanded="false">
                                <i class="fa fa-th-list"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sort-by col-md-7 col-sm-8 no-padding">
                <span>Sort By:</span>
                <div class="inline-block">
                    <form class="filter-form">
                        <div class="form-group selectpicker-wrapper">
                            <select
                                    class="selectpicker input-price" data-live-search="true"
                                    data-width="100%"
                                    data-toggle="tooltip" title="Best Sellers">
                                <option>Most Popular</option>
                                <option>Latest Items</option>
                                <option>Best Sellers</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="row">
            {% if is_paginated %}
                <div class="show-as col-md-4 col-sm-4 no-padding text-right">
                    <span>Show:</span>
                    <div class="inline-block">
                        <form class="filter-form">
                            <div class="form-group selectpicker-wrapper">
                                <select
                                        class="selectpicker input-price" data-live-search="true"
                                        data-width="100%"
                                        data-toggle="tooltip" title="16">
                                    <option>20</option>
                                    <option>24</option>
                                    <option>All</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="page-by col-md-8 col-sm-8 text-right">
                    <span>Page:</span>
                    {% paging_tag paginator page_obj %}
                </div>
            {% endif %}
        </div>
    </div>
</div>