{% load base_tags %}
<div class="light-bg sorter">
    {% if is_paginated %}
        <div class="col-md-6 col-sm-12 show-items">
            <span>Showing Items : {{ page_obj.start_index }} to {{ page_obj.end_index }} total {{ paginator.count }}</span>
        </div>

        <div class="col-md-6 col-sm-12 bottom-pagination text-right">
            {% paging_tag paginator page_obj %}
            {#                        {% include "items/header_footer/pagin.html" %}#}
        </div>
    {% endif %}
</div>