<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <title>File Chooser</title>
    <!-- CSS Global -->
    {% load staticfiles %}
    <link href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet"/>
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet"/>
</head>
<body style="height: 100%;">
<div id="chooser" class="container-fluid" style="height:100%;width:100%">
</div>
<script src="{% static "jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
<script src="{% static "reactfilebrowser/bundle.js" %}"></script>
<script>
    var input = window.opener.document.getElementById("{{ opener_id }}");
    console.log(
            input && input.hasOwnProperty("value") && input.value.length > 0,
            input.value.split(',')
    );
    chooser.open_file_browser({
        host: "{{ settings.REACT_FILE_BROWSER_HOST }}",
        host_file_url: "{{ settings.REACT_FILE_BROWSER_HOST }}{{ settings.MEDIA_URL }}",
        root_url: "{% url "reactfilebrowser:root" %}",
        selected: input && input.value.length > 0 ? input.value.split(',') : []
    })
</script>

</body>
</html>