{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Chooser</title>
    <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
</head>
<body>
<button data-rfb-target="#selected" data-rfn-root-api="{% url "reactfilebrowser:browser" %}"
        class="react-file-browser-field">open chooser
</button>
<input id="selected" type="text" readonly="true"/>
{% load staticfiles %}
<script>
    $(".react-file-browser-field").each(
            function () {
                var $self = $(this);
                $self.on("click", function () {
                    var params = [
                        'height=' + screen.height,
                        'width=' + screen.width,
                        'fullscreen=yes' // only works in IE, but here for completeness
                    ].join(',');
                    window.open($self.attr("data-rfn-root-api") + $self.attr("data-rfb-target"), "File Browser", params);
                    window.onmessage = function (e) {
                        document.getElementById("selected").value = JSON.parse(e.data).join(',');
                    }
                })
            }
    );
</script>
</body>
</html>


