<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Baby Store</title>
    {% load staticfiles %}
    <!-- Favicon -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{% static 'themforest/ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="shortcut icon" href="{% static 'themforest/ico/favicon.ico' %}">

    <!-- CSS Global -->
    <link href="{% static 'themforest/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'themforest/css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'themforest/css/media.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static 'themforest/plugins/jquery-ui-1.11.4.custom/jquery-ui.min.css' %}" rel="stylesheet"
          type="text/css">
    <link href="{% static 'themforest/css/subscribe-better.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'themforest/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"
          type="text/css">


    <!--[if lt IE 9]>
                <script src="assets/plugins/iesupport/html5shiv.js"></script>
                <script src="assets/plugins/iesupport/respond.js"></script>
                <![endif]-->
    <script src="{% static "themforest/plugins/jquery/jquery-1.11.3.min.js" %}"></script>

    {% block style %}
    {% endblock style %}
</head>

<body id="home" class="wide">
{% include 'utils/header.html' %}
{% block content %}
{% endblock content %}

<!-- JS Global -->

<script src="{% static "themforest/plugins/jquery-ui-1.11.4.custom/jquery-ui.min.js" %}"></script>
<script src="{% static "themforest/plugins/bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "themforest/js/jquery.subscribe-better.js" %}"></script>

<!-- JS Page Level -->
<script src="{% static "themforest/plugins/countdown/jquery.plugin.min.js" %}"></script>
<script src="{% static "themforest/js/jquery.slimscroll.js" %}"></script>
{% block script %}
{% endblock script %}
</body>
</html>