{% load i18n %}
<div class="widget-colors">
    <span>{% trans "Colors" %} :</span>
    <label class="rcheckbox-inline">
        <input type="checkbox" value="{{ item.color.id }}" id="#green">
        <span style="color: {{ item.color.value }};"></span>
    </label>
    {% for variant in variants %}
        <label class="rcheckbox-inline">
            <input type="checkbox" value="{{ variant.color.id }}" id="#green">
            <span style="color: {{ variant.color.value }};"></span>
        </label>
    {% endfor %}
</div>
{#<span>Colors:</span>#}
{#<label class="rcheckbox-inline"><input type="checkbox" value=""#}
{#                                       id="brown">#}
{#    <span></span></label>#}
{#<label class="rcheckbox-inline"><input type="checkbox" value=""#}
{#                                       id="light">#}
{#    <span></span></label>#}
{#<label class="rcheckbox-inline"><input type="checkbox" value=""#}
{#                                       id="dark">#}
{#    <span></span></label>#}
{#<label class="rcheckbox-inline"><input type="checkbox" value=""#}
{#                                       id="orange">#}
{#    <span></span></label>#}
{#<label class="rcheckbox-inline"><input type="checkbox" value=""#}
{#                                       id="blue">#}
{#    <span></span></label>#}
{#<label class="rcheckbox-inline"><input type="checkbox" value=""#}
{#                                       id="yellow">#}
{#    <span></span></label>#}
{#<label class="rcheckbox-inline"><input type="checkbox" value=""#}
{#                                       id="green">#}
{#    <span></span></label>#}
{#<label class="rcheckbox-inline"><input type="checkbox" value=""#}
{#                                       id="white">#}
{#    <span></span></label>#}
