{% load i18n %}
<div class="rating">
    {% load comments_filter %}
    {{ item|get_avg_star }}
    <div class="product-review">
        <ul>
            {% load comments %}
            {% get_comment_count for item as comment_count %}
            <li>{{ comment_count }} {% trans "Review" %} </li>
            <li> | <a
                    class="text-info"
                    href="{% url "custom_comments:custom_comments_list" item.slug 0 %}">
                {% trans "Add Your Review" %}
            </a>
            </li>
        </ul>
    </div>
</div>