{% load i18n %}
{% load base_filters %}
{% load items_helper_tags %}
<form class="product-form">
    <div class="row">
        <div class="form-group selectpicker-wrapper">
            {# todo update colors on size change#}
            <label>{% trans "SIZE" %} </label>
            <select title="Looking to Buy" data-toggle="tooltip"
                    data-width="100%" data-live-search="true"
                    class="selectpicker input-price bs-select-hidden">
                <option class="bs-title-option" value="">
                    {{ item.age.age_from }}-{{ item.age.age_to }} {{ item.age.get_unit_display }}
                </option>
                {% for variant in variants %}
                    <option>{{ variant.age.age_from }}-{{ variant.age.age_to }} {{ variant.age.get_unit_display }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group selectpicker-wrapper">
            <label>QTY</label>
            <select title="Looking to Buy" data-toggle="tooltip"
                    data-width="100%" data-live-search="true"
                    class="selectpicker input-price bs-select-hidden">
                <option class="bs-title-option" value="">02</option>
                <option>03</option>
                <option>04</option>
                <option>05</option>
            </select>
        </div>
    </div>
</form>
<!-- Start Product Color-->
{% color_tag item %}
<!-- End Product Color-->