<div class="sidebar-widget light-bg default-box-shadow">
    <h4 class="widget-title pink-bg"><span> By Age</span></h4>
    <div class="widget-content">
        <ul id="pink-scroll">
            {% for age in ages %}
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" value=""/>
                        <span>{{ age.age_from }}-{{ age.age_to }} {{ age.get_unit_display }}</span>
                        <span>(4890)</span>
                    </label>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>