<div class="sidebar-widget light-bg default-box-shadow">
    <h4 class="widget-title purple-bg"><span> By Brand</span></h4>
    <div class="widget-content">
        <ul id="purple-scroll">
            {% for brand in brands %}
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">
                        <span>{{ brand }}</span>
                        <span>(496)</span>
                    </label>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>