<div class="sidebar-widget light-bg default-box-shadow">
    <h4 class="widget-title green-bg"><span> CATEGORIES </span></h4>
    <div class="widget-content">
        <ul id="green-scroll">
            {% for categorie in categories %}
                <li>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">
                        <span>{{ categorie }}</span>
                        <span>(496)</span>
                    </label>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>