<div class="sidebar-widget light-bg default-box-shadow widget-colors">
    <h4 class="widget-title dark-blue-bg"><span> By Color</span></h4>
    <div class="widget-content">
        <ul>
            <li><label class="rcheckbox-inline"><input type="checkbox" id="brown" value="" checked>
                <span>Brown</span></label></li>
            <li><label class="rcheckbox-inline"><input type="checkbox" id="light" value="">
                <span>Light</span></label>
            </li>
            <li><label class="rcheckbox-inline"><input type="checkbox" id="dark" value=""> <span>Dark</span></label>
            </li>
            <li><label class="rcheckbox-inline"><input type="checkbox" id="orange" value="" checked>
                <span>Orange</span></label></li>
            <li><label class="rcheckbox-inline"><input type="checkbox" id="blue" value="" checked>
                <span>Blue</span></label></li>
            <li><label class="rcheckbox-inline"><input type="checkbox" id="yellow" value="">
                <span>Yellow</span></label>
            </li>
            <li><label class="rcheckbox-inline"><input type="checkbox" id="green" value="">
                <span>Green</span></label>
            </li>
            <li><label class="rcheckbox-inline"><input type="checkbox" id="white" value="">
                <span>White</span></label>
            </li>
        </ul>
    </div>
</div>