<div class="sidebar-widget light-bg default-box-shadow">
    <h4 class="widget-title golden-bg"><span> By Discount</span></h4>
    <div class="widget-content">
        <ul id="golden-scroll">
            <li><label class="checkbox-inline"><input type="checkbox" value="">
                <span>Upto 10%</span> <span>(2029)</span></label></li>
            <li><label class="checkbox-inline"><input type="checkbox" value="" checked> <span>10%-20% </span>
                <span>(389)</span></label></li>
            <li><label class="checkbox-inline"><input type="checkbox" value=""> <span>20% 30%</span>
                <span>(2029)</span></label></li>
            <li><label class="checkbox-inline"><input type="checkbox" value=""> <span>30%-40%</span>
                <span>(2029)</span></label></li>
            <li><label class="checkbox-inline"><input type="checkbox" value="">
                <span>More than 40%</span> <span>(2029)</span></label></li>
        </ul>
    </div>
</div>