{% load items_filter_tags %}
{% load staticfiles %}
<aside class="col-md-3 col-sm-4">
    {% categories_tag %}
    {% ages_tag %}
    {% price_tag %}
    {#    {% brands_tag %}#}
    {% discounts_tag %}
    {#    {% colors_tag %}#}
    <div class="fashion-wrap sidebar height-445 light-bg">
        <div class="col-md-6 text-center pull-left">
            <div class="fashion-new">
                <div class="pink-new-tag new-tag">
                    <a class="funky-font" href="#">New</a>
                </div>
            </div>
            <div class="title-wrap">
                <h2 class="section-title with-divider">
                                            <span>
                                                <span class="funky-font pink-tag">Child </span>
                                                <span class="italic-font">Accessories &amp; Wear</span>
                                            </span>
                </h2>
                <h3 class="sub-title-small">Upto <span class="bold-font pink-color"> 80% </span> Off
                </h3>
                <a class="pink-color title-link space-top-35" href="#"> Shop Now <i
                        class="fa fa-caret-right"></i> </a>
            </div>
        </div>
        <div class="fashion-icon">
            <img alt="fashion" src="{% static "themforest/img/fashion/icon-1.png" %}">
        </div>
    </div>
</aside>