{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Preview your comment" %}{% endblock %}

{% block content %}
    <div class="container">
        {% load comments %}
        <form action="{% comment_form_target %}" method="post">{% csrf_token %}
            {% if next %}
                <div><input type="hidden" name="next" value="{{ next }}"/></div>{% endif %}
            {% if form.errors %}
                <h1 class="text-danger">
                    {% blocktrans count counter=form.errors|length %}Please correct the error below{% plural %}Please
                        correct the errors below{% endblocktrans %}
                </h1>
            {% else %}
                <h1>{% trans "Preview your comment" %}</h1>
                <blockquote>{{ comment|linebreaks }}</blockquote>
                <p>
                    {% trans "and" %} <input type="submit" name="submit" class="submit-post"
                                             value="{% trans "Post your comment" %}"
                                             id="submit"/> {% trans "or make changes" %}:
                </p>
            {% endif %}
            {% for field in form %}
                {% if field.is_hidden %}
                    <div>{{ field }}</div>
                {% else %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            {#                        {{ field.errors }}#}
                            <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <p
                            {% if field.errors %} class="error"{% endif %}
                            {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
                        {{ field.label_tag }} {{ field }}
                    </p>
                {% endif %}
            {% endfor %}
            <p class="submit">
                <input type="submit" name="submit" class="submit-post" value="{% trans "Post" %}"/>
                <input type="submit" name="preview" class="submit-preview" value="{% trans "Preview" %}"/>
            </p>
        </form>
    </div>
{% endblock %}
