{% load staticfiles %}
<!-- Header -->
<header class="light-bg">
    <!-- Header top bar starts-->
    {% include "utils/top_bar.html" %}
    <!-- /Header top bar ends -->
    <section class="header-wrapper header fixed">
        {% include "utils/middle_bar.html" %}
{#        {% include "utils/navigation.html" %}#}
    </section>
</header>
<!-- /Header -->