{% load staticfiles %}
<article class="header-middle">
    <div class="container theme-container ">
        <!-- Logo -->
        <div class="logo hidden-xs col-md-3  col-sm-3">
            <a href="index.html"><img src="{% static 'themforest/img/logo/logo.png' %}" alt="Baby Store"/></a>
        </div>
        <!-- /Logo -->

        <!-- Header search -->
        <div class="header-search col-md-6  col-sm-5">
            <form action="#" class="search-form">
                <div class="search-selectpicker form-group selectpicker-wrapper col-sm-4 no-padding">
                    <select
                            class="selectpicker input-price" data-live-search="true" data-width="100%"
                            data-toggle="tooltip" title="Search In Categories">
                        <option>Baby Clothes</option>
                        <option>Kids Clothes</option>
                        <option>Toys & Books</option>
                    </select>
                </div>
                <div class="no-padding col-sm-8 search-cat">
                    <label>
                        <span class="screen-reader-text">Search for:</span>
                        <input type="search" title="Search for:" name="s" value=""
                               placeholder="Search for a Category, Brand or Product" class="search-field">
                    </label>
                    <input type="submit" value="Search" class="search-submit">
                </div>
            </form>
        </div>
        <!-- /Header search -->

        <!-- Header shopping cart -->
        <div class="header-cart col-md-3  col-sm-4">
            <div class="cart-wrapper">
                <a href="javascript:void(0)" class="btn cart-btn default-btn">
                    <i class="fa fa-shopping-cart blue-color"></i>
                    <span><b> cart: </b></span> <span class="blue-color"> <strong> (02
                    items) </strong> </span>
                    <span class="fa fa-caret-down"></span>
                </a>
            </div>
            <div class="cart-dropdown bg2-with-mask">
                <span class="blue-color-mask blue-box-shadow color-mask-radius"></span>
                <div class="pos-relative">
                    <table class="cart-table">
                        <tbody>
                        <tr>
                            <td>
                                <div class="product-media">
                                    <a href="#"> <img alt="product-img"
                                                      src="{% static 'themforest/img/cart/small-1.png' %}"></a>
                                </div>
                            </td>
                            <td>
                                <div class="product-content">
                                    <div class="product-name">
                                        <a href="#">Noddy Hooded Sweat</a>
                                        <span> Shirt Full Sleeves </span>
                                    </div>
                                    <div class="product-price">
                                        <h5 class="price"><b> $200.00*2 </b></h5>
                                        <a href="#" class="delete fa fa-close"> </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="product-media">
                                    <a href="#"> <img alt="product-img"
                                                      src="{% static "themforest/img/cart/small-2.png" %}"></a>
                                </div>
                            </td>
                            <td>
                                <div class="product-content">
                                    <div class="product-name">
                                        <a href="#">Noddy Hooded Sweat</a>
                                        <span> Shirt Full Sleeves </span>
                                    </div>
                                    <div class="product-price">
                                        <h5 class="price"><b> $100.00*1 </b></h5>
                                        <a href="#" class="delete fa fa-close"> </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td>
                                <div class="sub-total">
                                    <span class="title">Total:</span>
                                    <span class="amount"> <b> $500 </b> </span>
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    <div class="chk-out">
                        <a href="check-out.html" class="btn default-btn">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header shopping cart -->
    </div>
</article>