{% load staticfiles %}
<section class="top-bar">
    <div class="bg-with-mask box-shadow">
        <span class="blue-color-mask color-mask"></span>
        <div class="container theme-container">
            <nav class="navbar navbar-default top-navbar">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="visible-xs logo" href="#"> <img src="{% static 'themforest/img/logo/logo.png' %}"
                                                              alt="Baby Store">
                    </a>
                </div>
                <div class="collapse navbar-collapse no-padding" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#"> <span class="fa fa-heart"></span> Wishlist</a></li>
                        <li><a href="#"> <span class="fa fa-random"></span> Compare</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true">English <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">English</a></li>
                                <li><a href="#">Dutch</a></li>
                                <li><a href="#">French</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true">USD <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">POUND</a></li>
                                <li><a href="#">USD</a></li>
                                <li><a href="#">EURO</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown ">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true">Home <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="index.html">Homepage 1</a></li>
                                <li><a href="index-2-box-version.html">Homepage 2</a></li>
                                <li><a href="index-3.html">Homepage 3</a></li>
                                <li><a href="index-4.html">Homepage 4</a></li>
                                <li><a href="index-5.html">Homepage 5</a></li>
                                <li><a href="index-6.html">Homepage 6</a></li>
                                <li><a href="index-7.html">Homepage 7</a></li>
                            </ul>
                        </li>
                        <li><a href="contact-us.html">Contact Us</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true">Blog <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                <li><a href="single-post-right-sidebar.html">Single Post Right Sidebar</a></li>
                                <li><a href="single-post-left-sidebar.html">Single Post Left Sidebar</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Track Order</a></li>
                        <li><a href="#login-register" data-toggle="modal">Register/Login</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true">My Account <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="my-account.html">My Account</a></li>
                                <li><a href="account-info.html"> Account Information </a></li>
                                <li><a href="cng-pw.html">Change Password</a></li>
                                <li><a href="address-book.html">Address Books</a></li>
                                <li><a href="order-history.html">Order History</a></li>
                                <li><a href="review-rating.html">Reviews and Ratings</a></li>
                                <li><a href="return.html">Returns Requests</a></li>
                                <li><a href="newsletter.html">Newsletter</a></li>
                                <li><a href="myaccount-leftsidebar.html">Left Sidebar</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <img src="{% static 'themforest/img/pattern/ziz-zag.png' %}" class="blue-zig-zag" alt="..">
</section>