{% load staticfiles %}
{% load base_filters %}
<div class="col-md-4  col-sm-6 clear-box">
    <div class="product-details">
        <div class="product-media light-bg">
                            <span class="hover-image light-bg">
                                {# todo add images to items #}
                                <img src="{% static "themforest/img/product/cat-7.png" %}" alt="">
                            </span>
            <img alt="product-img" src="{% static "themforest/img/product/cat-1.png" %}">

            {% if item.is_new %}
                <div class="product-new">
                    <div class="blue-new-tag new-tag">
                        <a href="#" class="funky-font">New</a>
                    </div>
                </div>
            {% endif %}

            <div class="product-overlay">
                <a href="#" class="addcart blue-background fa fa-shopping-cart"></a>
                <a href="#" class="likeitem green-background fa fa-heart"></a>
                <a class="preview pink-background fa fa-eye" href="#product-preview-{{ item.slug }}"
                   data-toggle="modal"></a>
            </div>
        </div>
        <div class="product-content">
            {# todo add rating system #}
            <div class="rating">
                <span class="star active"></span>
                <span class="star active"></span>
                <span class="star active"></span>
                <span class="star half"></span>
                <span class="star"></span>
            </div>
            <div class="product-name">
                <p><a href="{{ item.get_absolute_url }}">{{ item }}</a></p>
            </div>
            <div class="product-price">
                <h4 class="pink-btn-small">
                    {{ item.price }}
                </h4>
            </div>
        </div>
    </div>
</div>