{% load staticfiles %}
{% load base_filters %}
<div class="list-category-details">
    <div class="row">
        <div class="col-md-4">
            <div class="product-media light-bg">
                            <span class="hover-image light-bg">
                                <img src="{% static "themforest/img/product/cat-7.png" %}"
                                     alt="">
                            </span>
                <img src="{% static "themforest/img/product/cat-2.png" %}" alt="product-img">
                {% if item.is_new %}
                    <div class="product-new">
                        <div class="blue-new-tag new-tag">
                            <a href="#" class="funky-font">New</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-8">
            <div class="product-content">
                <div class="rating">
                    <span class="star active"></span>
                    <span class="star active"></span>
                    <span class="star active"></span>
                    <span class="star half"></span>
                    <span class="star"></span>
                    <div class="product-review">
                        <ul>
                            <li>03 Review</li>
                            <li> | <a href="#"> Add Your Review </a></li>
                        </ul>
                    </div>
                </div>
                <div class="product-name">
                    <a href="{{ item.get_absolute_url }}">{{ item }}</a>
                </div>
                <div class="product-price">
                    <h4 class="pink-btn-small">
                        {{ item.price }}
                    </h4>
                    {% if item.price != item.old_price %}
                        <h4 class="blue-btn-small price-line">
                            {{ item.old_price }}
                        </h4>
                    {% endif %}
                </div>
                <div class="product-discription">
                    <p>
                        {{ item|translate:"description" }}
                    </p>
                </div>
                <div class="add-to-cart">
                    <a class="blue-btn btn" href="#"> <i
                            class="fa fa-shopping-cart white-color"></i> Add to Cart</a>
                    <a class="btn default-btn" href="#"> <i class="fa fa-heart"></i>
                    </a>
                    <a class="btn pink-btn" data-toggle="modal"
                       href="#product-preview-{{ item.slug }}">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>