{% load  staticfiles %}
<aside class="col-md-9 col-sm-8">
    <!-- Main Slider Start -->
    {% include "items/product_list/product_slider.html" %}
    <!-- / Main Slider Ends -->

    <!-- Product Category Start -->
    <section id="product-category" class="space-bottom-45">
        {% include "items/product_list/header_footer/products_header.html" %}
        {% include "items/product_list/product_content.html" %}
        {% include "items/product_list/header_footer/products_footer.html" %}
    </section>
    <!-- / Product Category Ends -->
</aside>