{% load staticfiles %}
{% load base_filters %}
<div class="tab-content">
    <div id="grid-view" class="tab-pane active in" role="tabpanel">
        <div class="row">
            {% for item in object_list %}
                {% include "items/product_list/grid_view_item.html" %}
            {% endfor %}
        </div>
    </div>
    <div id="list-view" class="tab-pane fade  " role="tabpanel">
        {% for item in object_list %}
            {% include "items/product_list/list_view_item.html" %}
        {% endfor %}
    </div>
    {% for item in object_list %}
        {% include "items/product_list/preview/preview.html" %}
    {% endfor %}
</div>