{% load staticfiles %}
<section id="main-slider" class="carousel slide main-slider  category-slider light-bg">
    <div class="carousel-inner slider">
        <div class="item">
            <img src="{% static "themforest/img/slider/category-slider1.png" %}" alt="...">
            <div class="caption-text text-center">
                <div class="title-wrap">
                    <h2 class="section-title">
                                                    <span>
                                                        <span class="funky-font blue-tag">Sale </span>
                                                        <span class="italic-font">Today Deal</span>
                                                    </span>
                    </h2>
                    <h2 class="discount pink-color">Upto <span> 30% </span> off</h2>
                    <hr class="dash-divider-small">
                    <a class="blue-color title-link" href="#"> Shop Now <i
                            class="fa fa-caret-right"></i> </a>
                </div>
            </div>
        </div>
        <div class="item active">
            <img src="{% static "themforest/img/slider/category-slider1.png" %}" alt="...">
            <div class="caption-text text-center">
                <div class="title-wrap">
                    <h2 class="section-title">
                                                    <span>
                                                        <span class="funky-font blue-tag">Sale </span>
                                                        <span class="italic-font">Today Deal</span>
                                                    </span>
                    </h2>
                    <h2 class="discount pink-color">Upto <span> 30% </span> off</h2>
                    <hr class="dash-divider-small">
                    <a class="blue-color title-link" href="#"> Shop Now <i
                            class="fa fa-caret-right"></i> </a>
                </div>
            </div>
        </div>
    </div>
    <!--Carousel Slide Button Start-->
    <div class="slider-btn-style-3">
        <a data-slide="prev" href="#main-slider" class="left carousel-control slider-btn-2">
            <i class="fa fa-angle-left"></i>
        </a>
        <a data-slide="next" href="#main-slider" class="right carousel-control slider-btn-2">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</section>